# Ignorar todo dentro del directorio pages excepto la carpeta template y proyectos
pages/*
!pages/template/
!pages/template/**
!pages/proyectos/
!pages/proyectos/**


# Ignorar todo dentro del directorio data excepto la carpeta template
data/*
!data/template