# Ignorar todo dentro del directorio pages excepto la carpeta template
pages/*
!pages/template/
!pages/template/**

# Ignorar todo dentro del directorio data excepto la carpeta template
data/*
!data/template/*