html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
div {
width: 200px;
height: 150px;
border: 10px dashed black;
background-color: lightgrey;
margin-bottom: 25px;
padding-left: 35px;
}