<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- HEADER -->
    <header class="main__header">
        <!-- (DO NOT TOUCH) -->
        <h1 class="main__title">Cuaderno Web Dev</h1>
    </header>
    <nav id="sideNav" class="main__side-nav">
        <!-- (DO NOT TOUCH) -->
    </nav>
    <main class="main__workspace ">
             
    </main>

    <!-- SCRIPTS -->
    <script src="/admin/js/dynamic-layout.js"></script>
    <script src="/admin/js/dynamic-nav.js"></script>
</body> 
</html>
