:root {
    /* Paleta de colores */
    --black: #2F2F2F;
    --dark-blue: #1E3D59;
    --blue: #1469AE;
    --gray: #DCD8CF;
    --white: #F6F7F1;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
    font-family: monospace;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.disable {
    display: none;
}

.main__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
    background-color: var(--dark-blue);
}

.main__title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: var(--white);
}

.nav__container {
    background-color: var(--blue);
}

.nav__button {
    display: inline-block;
    position: relative;
}

.nav__button-link {
    display: block;
    width: 120px;
    padding: 10px 0;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: var(--white);
    font-size: 20px;
}

.nav__dropdown {
    width: 100%;
    background-color: var(--gray);
    position: absolute;
    z-index: 999;
    display: none;
}

.dropdown__item {
    display: block;
    padding: 5px;
    overflow: hidden;
}

.dropdown__item:hover {
    background-color: var(--blue);
    font-weight: 700;
    color: var(--white);
}

.dropdown__item:hover a {
    color: var(--white);
}

.dropdown__item a {
    text-decoration: none;
    color: var(--black);
}

.nav__button-link:hover {
    background-color: var(--dark-blue);

}

.nav__button:hover .nav__dropdown {
    display: block;
} 

.main__workspace {
    padding: 15px;
    width: 100%;
}